*{
    margin-left: 0;
    padding: 0;
    font-family: montserrat;
    box-sizing: border-box;

}

body{
    background-color: lightcyan;
}

.header{
    text-align: center;
    background: c;
    padding: 4% 0;
    color: #f5f5f5;
}

.container{
    background: #f5f5f5;
    max-width: 800px;
    margin: 60px auto;
    height: 1325px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);

}
